.container {
  height: 86vh;
  padding: 2vh 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  .detailsContainer {
    padding: 1rem;
    h1 {
      font-size: 1.5rem;
    }
  }
  .chartContainer {
    background: #f1f3f4;
    padding: 2rem;
  }
}
